apiVersion: v1
kind: ConfigMap
metadata:
  name: kubeclaw-config
data:
  OPENCLAW_GATEWAY_HOST: "YOUR_GATEWAY_IP"
  OPENCLAW_GATEWAY_PORT: "18789"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubeclaw-node
spec:
  replicas: 3
  selector:
    matchLabels:
      app: kubeclaw-node
  template:
    metadata:
      labels:
        app: kubeclaw-node
    spec:
      containers:
      - name: node
        image: your-docker-username/kubeclaw:latest
        envFrom:
        - configMapRef:
            name: kubeclaw-config
        env:
        - name: OPENCLAW_GATEWAY_TOKEN
          valueFrom:
            secretKeyRef:
              name: kubeclaw-secret
              key: token
