apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubeclaw.fullname" . }}
  labels:
    {{- include "kubeclaw.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "kubeclaw.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kubeclaw.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: KUBECLAW_POD_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
            - name: OPENCLAW_GATEWAY_HOST
              value: {{ .Values.gateway.host | quote }}
            - name: OPENCLAW_GATEWAY_PORT
              value: {{ .Values.gateway.port | quote }}
            - name: OPENCLAW_GATEWAY_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.existingSecret }}{{ .Values.existingSecret }}{{ else }}{{ include "kubeclaw.fullname" . }}-secret{{ end }}
                  key: token
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
